<footer class="footer">
   <div class="footer-inner container">
      <div class="row">
         
        <div class="col-md-3 col-sm-3 col-xs-6">
            <h3>Sobre Nós</h3>
            <ul class="footer-list">
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
               <li><a href="https://suporte.bringit.com.br/hc/pt-br/sections/200035488-A-bringIT">Sobre a bringIT</a></li>
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
               <li><a href="https://suporte.bringit.com.br/hc/pt-br/sections/200059343-Seguran%C3%A7a">Segurança</a></li>
              
              <li><a href="https://suporte.bringit.com.br/hc/pt-br/sections/200049098-Atendimento">Atendimento</a></li>
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
              
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
               <li><a href="https://www.blogbringit.com.br/" target="_blank" >Blog</a></li>
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
               
            </ul>
         </div>
        
         <div class="col-md-3 col-sm-3 col-xs-6">
            <h3>Suporte bringIT</h3>
            <ul class="footer-list">
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
               <li><a href="https://suporte.bringit.com.br/hc/pt-br/categories/200022146-Bateria-para-Notebook">Bateria para Notebooks</a></li>
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
               <li><a href="https://suporte.bringit.com.br/hc/pt-br/categories/200013188-Fonte-para-Notebook">Fonte para Notebooks</a></li>
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
               <li><a href="https://suporte.bringit.com.br/hc/pt-br/categories/200013128-Teclado-para-Notebook">Teclado para Notebooks</a></li>
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
               <li><a href="https://suporte.bringit.com.br/hc/pt-br/categories/200016977-Tela-para-Notebook">Tela para Notebooks</a></li>
               <li><a href="https://suporte.bringit.com.br/hc/pt-br/categories/200022166-Acess%C3%B3rios-para-Notebook">Acessórios para Notebooks</a></li>
             
            </ul>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <h3>Dúvidas Frequentes</h3>
            <ul class="footer-list">
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
               <li><a href="https://suporte.bringit.com.br/hc/pt-br/requests/new">Deixe sua Dúvida aqui</a></li>
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
               <li><a href="https://suporte.bringit.com.br/hc/pt-br/sections/207396527-Dicas-para-notebook">Dicas para Notebooks</a></li>
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
               <li><a href="https://suporte.bringit.com.br/hc/pt-br/sections/207294608-D%C3%BAvidas-Frequentes">Dúvidas Específicas</a></li>
               <!-- Need to replace '#' (HASH) in href="#!" with your company's website URL -->
               <li><a href="https://suporte.bringit.com.br/hc/pt-br/sections/207310347-D%C3%BAvidas-gerais-sobre-Notebook">Dúvidas Gerais</a></li>
            </ul>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <h3>Conheça nossas redes!</h3>
            <div class="social-share">
               <ul class="list-inline">
                  <!-- Need to replace '#' (HASH) in href="#!" with your company's website Google Plus follow Link here -->
                  <li><a title="" data-placement="top" data-toggle="tooltip" class="google" href="http://plus.google.com/+bringitbrcomercioeletronico" target="_blank" data-original-title="Google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <!-- Need to replace '#' (HASH) in href="#!" with your company's website Linkedin follow Link here -->
                  <li><a title="" data-placement="top" data-toggle="tooltip" class="twitter" href="http://twitter.com/bringitce" target="_blank" data-original-title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <!-- Need to replace '#' (HASH) in href="#!" with your company's website Facebook follow Link here -->
                  <li><a title="" data-placement="top" data-toggle="tooltip" class="facebook" target="_blank" href="http://www.facebook.com/bringitce" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <!-- Need to replace '#' (HASH) in href="#!" with your company's website YouTube follow Link here -->
                  <li><a title="" data-placement="top" data-toggle="tooltip" class="youtube" href="http://www.youtube.com/user/bringitce" target="_blank" data-original-title="Youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                  <!-- Need to replace '#' (HASH) in href="#!" with your company's website Linkedin follow Link here -->

               </ul>
               <div class="address-section">
                  <p>bringIT - Soluções para Notebooks</p>
                  <p>Curitiba, Paraná</p>
                  <p>Brasil</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
